{% extends 'base.html.twig' %}

{% block title %}Dummy API Endpoint{% endblock %}

{% block body %}
<div class="wrapper">
    <h1>Dummy API Endpoint</h1>

    Placeholder for where an API endpoint would be. This and the ApiController have been added to test that authentication works properly for /api
</div>
{% endblock %}
